<div class="column is-8">
    <!--{{ partial "events-intro" . }}-->

    <h3 class="title is-3">Upcoming prayers</h3>
    <div class="columns features">
        {{ $future_content := slice }}

        {{ $date_format := "2006-01-02T15:04:05" }}

        {{ range where .Site.RegularPages.ByDate "Type" "events" }}
          {{ $formatted_start := .Date.Format $date_format }}
          {{ $formatted_now := now.Format $date_format }}

          {{ if ge $formatted_start $formatted_now }}
            {{ $future_content = $future_content | append . }}
          {{ end }}
        {{ end }}

        {{ $month_names := slice "Jan" "Feb" "March" "April" "May" "June" "July" "August" "September" "October" "November" "Dec" }}

        {{ range $future_content | first 3 }}

          <div class="column is-4">
            <div class="card is-shady">
              <div class="card-image">
                <figure class="image is-4by3">
                    {{ $link := .RelPermalink }}
                    {{ with .Params.image }}
                        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                        {{ $resized := $imageResource.Fill "400x300" }}
                        <a href="{{ $link }}"><img src="{{ $resized.RelPermalink }}" alt="Placeholder image" class="modal-button" data-target="modal-image2"></a>
                    {{ end }}
                </figure>
              </div>
              <header class="card-header">
                <p class="card-header-title">
                  {{ if .Params.EndDate }}
                  {{ $month_start := sub .Date.Month 1 }}
                  {{ $endDate := time .Params.EndDate }}
                  {{ $month_end := sub $endDate.Month 1 }}
                  <a href="{{ .RelPermalink }}">{{ .Date.Day }} {{ index $month_names $month_start }} - {{ $endDate.Day }} {{ index $month_names $month_end }}: {{ .Title }}</a>
                  {{ else }}
                  <a href="{{ .RelPermalink }}">{{ .Date.Format "January" }} {{ .Date.Day }} | {{ if isset .Params "time" }}{{ .Params.Time }}{{ else }}8 pm{{ end }}</a>
                  {{ end }}
                </p>

                {{ if .Params.dinner }}
                  <div class="card-header-icon">
                      {{- with .Site.Params.dinner }}
                          {{ range . -}}
                              <span class="icon is-small">{{ partial "svg.html" . }}</span>
                          {{- end -}}
                      {{- end }}
                  </div>
                  {{ end }}

              </header>
              <div class="card-content">
                <div class="content">
                  <p>{{ .Content | truncate 200 }}</p>
                  {{ if .Params.dinner }}
                  <p class="content">You can <a href="mailto:info@taizedummywageningen.nl">sign-up</a> for a dinner at 18:30 or join a song practice at 19:15</p>
                  {{ end }}
                </div>
              </div>
              <div class="date-ribbon">
                  {{ if .Params.EndDate }}
                  {{ $month_start := sub .Date.Month 1 }}
                  {{ $endDate := time .Params.EndDate }}
                  {{ $month_end := sub $endDate.Month 1 }}
                  <h2>{{ .Date.Format "Jan" }} {{ .Date.Day }} - </h2>
                  <h2>{{ index $month_names $month_end }} {{  $endDate.Day }}</h2>
                  {{ else }}
                  <h2>{{ .Date.Format "Jan" }}</h2>
                  <h2>{{ .Date.Day }}</h2>
                  {{ end }}
              </div>
            </div>
          </div>
          {{ end }}
    </div>
    <!--
    <div class="columns is-centered">
         <a class="button is-primary"  href="events/">Show all events</a>
    </div>
-->
</div>
