<h4 class="title is-4">European Meeting Taizé</h4>
    <p>This year, due to the corona crisis, the European Meeting that was planned to be held in Turin (Italy) cannot take place there. Yet, we are happy to announce a totally new initiative:</p>
    <br />
    <div class="columns is-centered">
         <a class="button is-primary"  href="events/2020-local-european-meeting/">Read more ...</a>
    </div>

<br />
