<footer class="footer">
  <div class="content has-text-centered">
    <p>
      This website is handcrafted by <a href="https://www.biomatt.nl">@biomatt</a> using <a href="https://www.gohugo.io">Hugo</a> , <a href="https://www.bulma.io">Bulma</a> and <a href="https://feathericons.com/">Feather</a> icons. The <a href="https://framagit.org/biomatt/taizewageningen/">source code</a> is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
  </div>
</footer>
