<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{- with .Description | default .Content | default .Site.Params.description | default .Summary }}
      <meta name="description" content="{{ . | plainify | truncate 200 }}">
      <meta property="og:description" content="{{ . | plainify | truncate 200 }}">
      <meta name="twitter:description" content="{{ . | plainify | truncate 200 }}">
    {{- end }}
      <meta name="keywords" content="taize prayer wageningen gebed spectrum">



{{ partial "css.html" . }}
{{ partial "js.html" . }}

    <title>{{ if not .IsHome }}{{ .Params.name | default .Title }} | {{ end }}{{ site.Title }}</title>
    <!-- Hugo Version number -->
      {{ .Hugo.Generator -}}

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['appendToTrackingUrl', 'bots=1']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.biomatt.nl/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '9']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//analytics.biomatt.nl/piwik.php?idsite=9&amp;rec=1&bots=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->

<!-- Pretix -->
<link rel="stylesheet" type="text/css" href="https://pretix.eu/taizewageningen/xkl7z/widget/v1.css">
<script type="text/javascript" src="https://pretix.eu/widget/v1.en.js" async></script>

</head>
