<section class="hero is-medium is-bold landing-bg">
    <div class="hero-body overlay">

    <div class="container has-text-centered">
      <h1 class="title"> {{ .Site.Title }}</h1>
    </div>
  </div>
</section>
