{{- $navbar         := .Site.Params.navbar }}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
      <div class="navbar-brand">

        <!-- logo or branding image on left side -->

        <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-item" href="{{ "/" | relLangURL }}">
            {{- if site.Params.logo -}}
            <img src="{{ printf "/img/%s" site.Params.logo | relURL }}" alt="{{ site.Title }}">
            {{- else -}}
            <span class="is-size-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="feather" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3.024 5.057c-.11.47 2.308 2.359 3.846 4.307.693.878 2.034 2.32 1.913 3.019-.076.432-.722 1.001-1.475 1.298-1.902.748-5.752 1.244-6.671 1.032.468 4.25 2.023 6.095 4.406 6.115 1.937.016 4.604-1.195 6.2-3.11.873 1.944 3.24 4.951 5.133 5.546 1.662.521 5.282-1.267 6.165-4.965-4.181-1.312-6.257-2.51-6.496-3.81 2.603-1.346 4.07-2.403 4.963-3.347 1.306-1.377 1.54-2.64 1.255-3.902-.362-1.6-2.113-3.64-3.912-4.951-2.12 5.064-3.966 6.793-4.486 6.838-1.456.127-2.345-5.77-3.331-8.686-5.01.6-7.003 3.737-7.51 4.616z" fill="none" stroke="currentColor" stroke-width="1.3"/></svg>
            </span>
            {{- site.Title -}}
            {{- end -}}
          </a>
          <div class="navbar-burger"  data-target="navbar-menu">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
          </div>
      </div>

    <!-- children of navbar-menu must be navbar-start and/or navbar-end -->
    <!--
    <div class="navbar-menu mr-auto" id="navbar-menu">
        <div class="navbar-item has-dropdown is-hoverable">
            {{- range $navbar }}
            <a href="{{ .url }}" class="navbar-item">
              {{ .title }}
            </a>
            {{ end }}
        </div>
    </div>
    -->

      <!-- navbar items | right side -->
      <div class="navbar-menu navbar-end" id="navbar-menu">
          {{- range $navbar }}
              <a class="navbar-item" href="{{ .url | safeURL }}" title="{{ .name | humanize }}">
                  <span class="icon is-small">
                    {{ partial "svg.html" . }}
                  </span>
                  <span>{{ .title }}</span>
              </a>
          {{ end }}
          {{- with .Site.Params.social }}
              {{ range . -}}
              <a class="navbar-item" href="{{ .url | safeURL }}" target="_blank" rel="noopener norefferer" title="{{ .name | humanize }}">
                  <span class="icon">{{ partial "svg.html" . }}</span>
              </a>
              {{- end -}}
          {{- end }}
    </div>
  </div>
</nav>
