<!-- newsletter -->
<section class="section" id="newsletter">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <div class="container has-text-centered is-fluid">
        <div class="hero">
          <div class="hero-body">
            <h2 class="title is-3">Sign up for our newsletter</h1>
              <div class="column is-6 is-offset-3">
                <form action="https://listmonk.taizewageningen.nl/subscription/form" method="POST" target="_blank">
                    <div class="field has-addons has-addons-centered">
                      <div class="control is-expanded">
                        <input class="input" type="text" name="email"  placeholder="Email address">
                        <input name="nonce" class="nonce" value="" />
                        <input id="b0eba" type="hidden" checked="checked" name="l" value="b0eba884-01ce-4640-b3a5-db2e11346429" />
                      </div>
                      <div class="control">
                          <button type="submit" class="button is-primary">Subscribe</button>
                      </div>
                    </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
