{{ define "main" }}

<!-- /.section -->
<section class="section" >
    <div class="container">
        <div class="columns is-reversed-mobile">
        {{ partial "events" . }}

        {{ partial "sidebar" . }}
        </div>
    </div>
</section>
<!--
{{ partial "newsletter" . }}
-->
<!-- /.section -->
{{ end }}
