{{ define "main" }}

<!-- /.section -->
<section class="section" >
    <div class="container">
        <div class="columns is-reversed-mobile">
            <div class="column is-8">
                <h3 class="title is-3">Upcoming prayers</h3>
                <div class="columns features is-multiline">
                    {{ $future_content := slice }}

                    {{ $date_format := "2006-01-02T15:04:05" }}

                    {{ range where .Site.RegularPages.ByDate "Type" "events" }}
                      {{ $formatted_start := .Date.Format $date_format }}
                      {{ $formatted_now := now.Format $date_format }}

                      {{ if ge $formatted_start $formatted_now }}
                        {{ $future_content = $future_content | append . }}
                      {{ end }}
                    {{ end }}

                    {{ range $future_content }}
                      <div class="column is-one-third">
                        <div class="card is-shady">
                          <div class="card-image">
                            <figure class="image is-4by3">
                                {{ with .Params.image }}
                                    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                                    {{ $resized := $imageResource.Fill "400x300" }}
                                    <img src="{{ $resized.RelPermalink }}" alt="Placeholder image" class="modal-button" data-target="modal-image2">
                                {{ end }}
                            </figure>
                          </div>
                          <header class="card-header">
                            <p class="card-header-title">
                              {{ .Date.Format "January" }} {{ .Date.Day }} | 8pm
                            </p>
                            {{ if .Params.dinner }}
                              <div class="card-header-icon">
                                  {{- with .Site.Params.dinner }}
                                      {{ range . -}}
                                          <span class="icon is-small">{{ partial "svg.html" . }}</span>
                                      {{- end -}}
                                  {{- end }}
                              </div>
                              {{ end }}

                          </header>
                          <div class="card-content">
                            <div class="content">
                              <p>{{ .Content }}</p>
                              {{ if .Params.dinner }}
                              <p class="content">You can <a href="mailto:info@taizedummywageningen.nl">sign-up</a> for a dinner at 18:30 or join a song practice at 19:15</p>
                              {{ end }}
                            </div>
                          </div>
                          <div class="date-ribbon">
                              <h2>{{ .Date.Format "Jan" }}</h2>
                              <h1>{{ .Date.Day }}</h1>
                          </div>
                        </div>
                      </div>
                      {{ end }}
                </div>
            </div>

        {{ partial "sidebar" . }}
        </div>
    </div>
</section>
<!-- /.section -->
{{ end }}
