{{ define "main" }}

<!-- /.section -->
<section class="section" >
    <div class="container">
        <div class="columns is-reversed-mobile">
            <div class="column is-8 content">
                <h3 class="title is-3">{{ .Title }}</h3>
                {{ .Content }}
            </div>
            {{ partial "sidebar" . }}
        </div>
    </div>
</section>
<!-- /.section -->
{{ end }}
