// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$blue-dark: #130e20;
$orange: #dc6c0d;
$red: #80170a;


// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

// Update Bulma's global variables
$family-sans-serif: "Alegreya Sans", sans-serif;
// Define title font family
$title-family: "Lora", serif;
$grey-dark: $blue-dark;
$grey-light: $beige-light;
$primary: $red;
$link: $red;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$navbar-background-color: $orange;
$body-background-color: $orange;
$footer-background-color: $orange;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
