@import "_variables";
@import "bulma/bulma";

.feather {
  display: inline-block;
  vertical-align: -.125em;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 2;
  fill: none;
}

/* https://github.com/jgthms/bulma/issues/297#issuecomment-499961774 */
.columns.is-reversed-mobile {
    @include mobile {
    display: flex;
    flex-direction: column-reverse;
    }
}
// Add drop shadow to card
// https://github.com/BulmaTemplates/bulma-templates/blob/master/css/hero.css#L64
.is-shady:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

// Display a ribbon with date over the feature images
// https://codepen.io/noahbres/pen/MXLBPJ
.date-ribbon {
	position: absolute;
	top: 0;
	left: 1em;
	background: $red;
	color: $grey-light;
	padding: 0.2em 1em;
	padding-bottom: 0;
	border-radius: 0;
}

// Make cards the same height
.card{
  height: 100%;
  display: flex;
  flex-direction: column;
}

{{ with .Site.Params.hero.image }}
    $hero: "{{ . }}";
    .hero.is-medium.landing-bg {
      background-repeat: no-repeat;
      background: url($hero) center center;
      background-size: cover;
}
{{ end }}




.hero.is-medium.landing-bg .container {
  padding: 30px 0;
}

@media screen and (min-width: 769px), print {
  .hero.is-medium.landing-bg .overlay {
    //background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    //background: linear-gradient(to top, rgba($black, .8), rgba($black, .5), transparent, transparent);

    box-shadow: inset 0 1px 3px 0 rgba(182, 122, 122, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 768px) {
  .hero.is-medium.landing-bg {
    background: url("/uploads/hero_mobile.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero.is-medium.landing-bg .overlay {
    background: rgba(0, 0, 0, 0.43);
  }
}

.hero.is-medium.landing-bg h1.title {
  color: #fff;
  margin-bottom: 1rem;
}

.hero.is-medium.landing-bg h2.subtitle {
  color: #fff;
  max-width: 610px;
  margin: 0 auto 35px;
  font-size: 18px;
  font-weight: 500;
}

.hero.is-medium.landing-bg .hero-body {
  padding-bottom: 72px;
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  .hero.is-medium.landing-bg .hero-body {
    padding-bottom: 1em;
    padding-top: 1em;
    }
}

.nonce {
  display: none;
}
